@using APIMVC.UI.Models
@model Task<List<ShipperDTO>>
<h2>    Burası İndex02 </h2>

<table class="table-bordered table-hover table-secondary">
    <thead>
        <tr>
            <th> ShipperID</th>
            <th> CompanyName</th>
            <th> Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in await Model)
        {
            <tr>
                <td>@item.ShipperID</td>
                <td>@item.CompanyName</td>
                <td>@item.Phone</td>
            </tr>

        }
    </tbody>
</table>
